$base : crimson;
$menu-bg:blueviolet;
$menu-text:white;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header h2{
	color:$base;
	font-size: 30px;
	font-weight: bold;
}
nav{
	background-color: $menu-bg;
	ul{
		display: flex;
		li{
			list-style-type: none;
			padding:10px;
			transition: background-color 0.5s linear;
			a{
				text-decoration: none;
				display: inline-block;
				color:$menu-text;
				margin:0 10px;
			}
			
		}
		li:hover {
			background-color: $base;
			
		}
	}
}